*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# Build results
x64/
nTRACER/x64
Intel/

# Install files
nTRACER/util

# Documents
nTRACER/docs

# Libraries
lib/

# Other
ACEGenerator
GUI
HDF
Socket

# User-dependent files
*.pdb
*.inp
*.txt
*.bin
*.00
*.60
*.mod
*.o
*.out
*.exe
*.dwf
!CMakeLists.txt
*.m
*.h5
*.log
*.suo
*.vtk
*.user
*.u2d
PVFProject/PVFProject.pvfproj

test.code-workspace

src.zip
